@import "material";

#map{
  width: 350px;
  height:350px;
}

.auth-button{
  margin: 20px;
  img {
    height: 35px;
  }
}

#error_explanation{
  color:red;
  background-color: #FFCCCC;
  border-radius:5px;
  h2{
    font-size: 16px;
    margin:5px 5px;
    line-height: 10px;
  }
}

.button{
  margin:10px 0;
  @extend .mdl-button;
  @extend .mdl-button--raised;
  @extend .mdl-button--colored;
}

.ad{
  padding:20px;
  margin:10px 0px;
  background:#eeff99;
  border-radius:5px;
}

.img-medium{
  height: 300px;
}

.thumb{
  height: 100px;
}

